<main>
  <section class="grid-background">
    <div class="container">
      <div class="d-flex justify-content-center align-items-center mt-5 me-4">
        <div
          class="border-orang-1 rounded-5 d-flex justify-content-center align-items-center px-3 py-1 bg-lans"
        >
          <span class="mb-1 fs-12 text-oreng">من نحن</span>
          <span class="w-h-6 bg-oreng rounded-5 mx-1"></span>
          <span class="w-h-6 bg-oreng rounded-5"></span>
        </div>
      </div>
      <div class="text-center mt-2">
        <h1 class="text-white fs-60">
          مهمتنا هي <span class="text-warning">الإعلام والإلهام</span>
        </h1>
        <p class="w-50 mx-auto text-white-50 fs-20">
          مدونة متخصصة في فن التصوير الفوتوغرافي، نشارك معكم أسرار المحترفين ونصائح عملية لتطوير
          مهاراتكم. نحن شغوفون بمشاركة المعرفة ومساعدة المصورين على تنمية مهاراتهم من خلال محتوى
          عالي الجودة.
        </p>
      </div>

      <div class="pb-5">
        <div class="row gx-2 mt-4 w-75 mx-auto">
          <div class="col-3">
            <div
              class="mb-3 mb-md-0 border border-1 border-white border-opacity-10 text-center rounded-4 bg-card p-3"
            >
              <i class="fa-solid fa-book-open text-orang fs-4"></i>
              <p class="text-warning fs-4 fw-bold mb-0">+15</p>
              <span class="text-white-50 fs-14">تصنيف</span>
            </div>
          </div>

          <div class="col-3">
            <div
              class="border-card text-center p-3 border border-1 border-white border-opacity-10 rounded-4 bg-card"
            >
              <i class="fa-solid fa-pen-nib text-orang fs-4"></i>
              <p class="text-warning fs-4 fw-bold mb-0">+50</p>
              <span class="text-white-50 fs-14">كاتب خبير</span>
            </div>
          </div>

          <div class="col-3">
            <div
              class="border-card text-center p-3 border border-1 border-white border-opacity-10 rounded-4 bg-card"
            >
              <i class="fa-solid fa-newspaper text-orang fs-4"></i>
              <p class="text-warning fs-4 fw-bold mb-0">+500</p>
              <span class="text-white-50 fs-14">مقالة منشورة</span>
            </div>
          </div>

          <div class="col-3">
            <div
              class="border-card border-opacity-10 text-center p-3 border border-1 border-white border-opacity-10 rounded-4 bg-card"
            >
              <i class="fa-solid fa-users text-orang fs-4"></i>
              <p class="text-warning fs-4 fw-bold mb-0">+2مليون</p>
              <span class="text-white-50 fs-14">قارئ شهرياً</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-card2 border-top border-bottom border-1 border-white border-opacity-10 p-5">
    <div class="container">
      <div class="text-center py-4">
        <h2 class="text-white fw-bold">قيمنا</h2>
        <p class="w-50 mx-auto text-white-50 fs-20">المبادئ التي توجه كل ما نقوم بإنشائه</p>
      </div>

      <div class="pb-5">
        <div class="row gx-4 mt-4 mx-auto">
          <div class="col-3">
            <div
              class="mb-3 mb-md-0 border border-1 border-white border-opacity-10 text-center rounded-4 bg-card p-4"
            >
              <i class="fa-solid fa-arrows-rotate text-orang fs-2"></i>
              <p class="text-white fs-6 mb-2 fw-bold">دائماً محدث</p>
              <span class="text-white-50 fs-14">أحدث الاتجاهات وأفضل الممارسات</span>
            </div>
          </div>

          <div class="col-3">
            <div
              class="border-card text-center p-3 border border-1 border-white border-opacity-10 rounded-4 bg-card p-4"
            >
              <i class="fa-solid fa-handshake text-orang fs-2"></i>
              <p class="text-white fs-6 mb-2 fw-bold">المجتمع</p>
              <span class="text-white-50 fs-14"> تعلم مع آلاف المصورين</span>
            </div>
          </div>

          <div class="col-3">
            <div
              class="border-card text-center p-3 border border-1 border-white border-opacity-10 rounded-4 bg-card p-4"
            >
              <i class="fa-solid fa-bolt text-orang fs-2"></i>
              <p class="text-white fs-6 mb-2 fw-bold">تركيز عملي</p>
              <span class="text-white-50 fs-14"> أمثلة واقعية يمكنك تطبيقها اليوم</span>
            </div>
          </div>

          <div class="col-3">
            <div
              class="border-card border-opacity-10 text-center p-3 border border-1 border-white border-opacity-10 rounded-4 bg-card p-4"
            >
              <i class="fa-solid fa-bullseye text-orang fs-2"></i>
              <p class="text-white fs-6 mb-2 fw-bold">الجودة أولاً</p>
              <span class="text-white-50 fs-14">محتوى مدروس ومكتوب بخبرة</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-black pt-1">
    <div class="container">
      <div class="d-flex justify-content-center align-items-center mt-5 me-4">
        <div
          class="border-orang-1 rounded-5 d-flex justify-content-center align-items-center px-3 py-1 bg-lans"
        >
          <span class="mb-1 fs-12 text-oreng">فريقنا</span>
          <span class="w-h-6 bg-oreng rounded-5 mx-1"></span>
        </div>
      </div>
      <div class="text-center mt-2">
        <h1 class="text-white fs-2">تعرف على كتابنا</h1>
        <p class="w-50 mx-auto text-white-50 fs-20">
          فريقنا من المصورين والكتاب ذوي الخبرة شغوفون بمشاركة معرفتهم مع المجتمع.
        </p>
      </div>

      <div class="pb-5">
        <div class="row g-3 mt-4 w-75 mx-auto">
          @for (post of posts; track $index) {
            <div class="col-4 ms-auto">
              <div
                class="mb-3 mb-md-0 border border-1 border-white border-opacity-10 text-center rounded-4 bg-card p-3 card3"
              >
                <div
                  class="img w-h-70 mx-auto rounded-5 border border-3 border-dark position-relative"
                >
                  <img
                    [src]="post.author.avatar"
                    class="w-100 rounded-5"
                    [alt]="post.author.name"
                  />
                  <div
                    class="w-h-15 rounded-5 bg-oreng position-absolute d-flex justify-content-center align-items-center fs-8 text-white bottom-0 end-0"
                  >
                    <i class="fa-solid fa-check"></i>
                  </div>
                </div>
                <p class="text-white fs-18 fw-bold mb-0 mt-3">{{ post.author.name }}</p>
                <span class="text-oreng fs-14">{{ post.author.role }}</span>

                <div class="d-flex justify-content-center my-3">
                  @for (item of icon; track $index) {
                    <div
                      class="w-h-35 bg-black bg-opacity-10 ms-1 border border-1 border-white border-opacity-10 d-flex justify-content-center align-items-center fs-14 text-white-50 rounded-3 mx-2 {{
                        item
                      }}"
                    >
                      <!-- <i class="{{ item }}"></i> -->
                    </div>
                  }
                </div>
              </div>
            </div>
          }
        </div>
      </div>
    </div>
  </section>

  <section class="bg-linear">
    <div class="container">
      <div class="text-center">
        <h2 class="text-white pt-5 fw-bold">!لديك أسئلة؟ دعنا نتحدث</h2>
        <p class="text-white text-opacity-75 w-50 mx-auto">
          نحب أن نسمع منك. سواء كان لديك سؤال حول محتوانا، أو تريد المساهمة، أو تريد فقط إلقاء
          التحية، لا تتردد في التواصل.
        </p>
      </div>
      <div class="text-center mt-5">
        <button
          class="color-hover bg-transparent border border-1 border-white border-opacity-50 px-4 py-2 rounded-3 me-3 text-white fw-bold"
        >
          تصفح المقالات
        </button>
        <button class="translate-y border-0 bg-black px-4 py-2 rounded-3 text-white fw-bold">
          تواصل معنا <i class="fa-regular fa-envelope mt-1"></i>
        </button>
      </div>
    </div>
  </section>
</main>
