<header class="grid-background pt-5 overflow-hidden">
  <div class="container">
    <div class="d-flex justify-content-center align-items-center mt-5 me-4">
      <div
        class="border-orang-1 rounded-5 d-flex justify-content-center align-items-center px-3 py-1 bg-lans"
      >
        <span class="text-white mb-1 fs-12">مرحباً بك في عدسة</span>
        <span class="w-h-20 rounded-5 ms-2"></span>
        <span class="w-h-20 rounded-5 ms-1"></span>
      </div>
    </div>
    <div class="d-flex justify-content-center mt-4">
      <h1 class="text-white fs-70 fw-bold">
        <h2 class="h1 ms-23 fs-70 fw-bold">اكتشف <span class="text-warning">فن</span></h2>
        التصوير الفوتوغرافي
      </h1>
    </div>
    <p class="d-flex justify-content-center mt-3 fs-5 text-white-50">
      انغمس في أسرار المحترفين ونصائح عملية لتطوير مهاراتك في
    </p>
    <span class="d-flex justify-content-center fs-5 text-white-50">التصوير</span>
  </div>

  <div class="btn d-flex justify-content-center mt-4">
    <button
      class="btn-hover-orang fs-6 text-white bg-transparent border border-1 border-white border-opacity-50 p-3 me-3 fw-semibold rounded-5"
    >
      اعرف المزيد <i class="fa-solid fa-circle-info"></i>
    </button>

    <button class="fs-6 text-white bg-orang p-3 border-0 fw-semibold rounded-5 hover-translet-y">
      <i class="fa-solid fa-long-arrow-left"></i> استكشف المقالات
    </button>
  </div>
  <div class="">
    <div class="row d-flex justify-content-center mt-4">
      <div class="col-6 mb-3 mb-md-0 border-card me-5 w-h-50px text-center pt-2 rounded-4 bg-card">
        <i class="fa-solid fa-pen-nib text-orang fs-4"></i>
        <p class="text-warning fs-4 fw-bold mb-0">6</p>
        <span class="text-white-50 fs-14">كاتب</span>
      </div>

      <div class="col-6 border-card me-md-5 w-h-50px text-center pt-2 rounded-4 bg-card">
        <i class="fa-solid fa-folder-open text-orang fs-4"></i>
        <p class="text-warning fs-4 fw-bold mb-0">4</p>
        <span class="text-white-50 fs-14">تصنيفات</span>
      </div>

      <div class="col-6 border-card me-5 w-h-50px text-center pt-2 rounded-4 bg-card">
        <i class="fa-solid fa-users text-orang fs-4"></i>
        <p class="text-warning fs-4 fw-bold mb-0">ألف+10</p>
        <span class="text-white-50 fs-14">قارئ</span>
      </div>

      <div class="col-6 border-card border-opacity-10 w-h-50px text-center pt-2 rounded-4 bg-card">
        <i class="fa-solid fa-newspaper text-orang fs-4"></i>
        <p class="text-warning fs-4 fw-bold mb-0">+50</p>
        <span class="text-white-50 fs-14">مقالة</span>
      </div>
    </div>
  </div>
</header>
<app-articles></app-articles>
<app-by-topic></app-by-topic>
<app-latest-articles></app-latest-articles>
